.element {
    padding: 0%;
    margin: 0%;
}

.navbar {
    /* padding: 10px; */
    position: relative;
    display: flex;
    background: #2d2d2d;
    width: 100%;
    height: 60px;
    align-items: center;
}

.ms-title {
    color: white;
    position: absolute;
    padding-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 27px;
    display: flex;
    align-items: center;
    text-align: center;
}

.ms-logo-container {
    position: absolute;
    display: flex;
    background-color: white;
    width: 70px;
    height: 40px;
    left: 35px;
    border-radius: 10px;
}

.ms-logo {
    position: absolute;
    display: flex;
    width: 70px;
    height: 70px;
    top: -30px;
    left: 1px;
    background-image: url(igt_logo_navbar.png);
}

.ms-username {
    color: white;
    position: absolute;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    display: flex;
    /* left: 1295px; */
    right: 5%;
}

.user-con{
    background-color: #d9d9d9;
    position:absolute;
    width: 36px;
    height: 36px;
    left: 1470px;
    border-radius: 25px;
}

.user-icon {
    background-color: #d9d9d9;
    position:absolute;
    width: 36px;
    height: 36px;
    border-radius: 25px;
    background: url(user.png);
}
