.create-group {
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: #6CB4EE;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 1%;
    margin-top: 0%;
    border: #6CB4EE;
    border-radius: 10px;
    bottom: 4%;
    right: 2.5%;
}

.ver-line {
    position: absolute;
    display: flex;
    border-left: 1px solid #000000;
    height: 565px;
    left: 210px;
}

.ini-camp {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #6CB4EE;
    border: #6CB4EE;
    color: white;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-left: 1.6%;
    padding-right: 1.6%;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 8%;
    width: max-content;
}

.camp-content {
    position: absolute;
    display: flex;
    /* background-color: #ffa559; */
    /* opacity: 50%; */
    height: 460px;
    width: 1150px;
    /* right: 0%; */
    top: 12%;
    overflow: auto;
}

.camp-content-user {
    position: absolute;
    display: flex;
    /* background-color: #ffa559; */
    /* opacity: 50%; */
    height: 520px;
    width: 1150px;
    /* right: 0%; */
    top: 12%;
    overflow: auto;
}

.icamp-table {
    position: absolute;
    /* display: flex; */
    /* left: 2%; */
    /* right: 3%; */
    /* top: 12%; */
    width: 1120px;
    border-collapse: collapse;
}

.camps-table {
    position: absolute;
    /* display: flex; */
    /* top: 10%; */
    width: 1120px;
    border-collapse: collapse;
}

.camps-table tbody tr td {
    margin-bottom: 20px;
}

.camps-table td,
.camps-table th {
    border: 1px solid #ccc;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.camps-table-user {
    position: absolute;
    /* display: flex; */
    /* left: 2%; */
    /* right: 3%; */
    /* top: 10%; */
    width: 1150px;
    border-collapse: collapse;
}

.camps-table-user tbody tr td {
    margin-bottom: 20px;
}

.camps-table-user td,
.camps-table-user th {
    border: 1px solid #ccc;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.icamp-table tbody tr td {
    margin-bottom: 20px;
}

.icamp-table td,
.icamp-table th {
    border: 1px solid #ccc;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.open {
    color: green;
}

.closed {
    color: red;
}

.camp-con-title{
    width: 430px;
}

.camp-con-owner {
    width: 140px;
}

.camp-con-titleuser{
    width: 530px;
}

.camp-con-owneruser {
    width: 140px;
}

.campidea {
    width: 35%;
}

.campidea-user {
    width: 15%;
}

.pastcamp-title{
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    top: 5px;
    left: 21%;
}

.pastcamp-title-user{
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    top: 5px;
    /* left: 21%; */
}

.i-title {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    top: 0%;
    left: 2.5%;
}

.theading{
    background-color: #6CB4EE;
    color: white;
}