.elements {
    margin: 0%;
    padding: 0%;
}

.home-page {
    background-color: #f1f1f1;
}

.menu {
    background-color: white;
    position: absolute;
    width: 216px;
    height: 47vh;
    margin: 2%;
    padding-top: 9.2%;
    padding-bottom: 9%;
    border-radius: 25px;
    filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.1));
}

.main-content {
    background-color: white;
    position: absolute;
    width: 1150px;
    height: 76vh;
    margin: 2%;
    left: 264px;
    border-radius: 25px;
    padding: 2%;
    filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.1));
    overflow: auto;
}

.menu-content {
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
}

.hori-line {
    width: 180px;
}

.report-con {
    background-color: #6CB4EE;
    position: absolute;
    display: flex;
    height: 32vh;
    width: 1150px;
    /* top: 51%; */
    bottom: 5%;
    border-radius: 25px;
}

.carousel {
    background-color: #f1f1f1;
    position: relative;
    overflow: hidden;
    display: flex;
    height: 40vh;
    width: 1150px;
    border-radius: 25px;
}

/* .idea-con {
    position: absolute;
    display: flex;
    width: 90px;
    height: 90px;
    background-color: #ffa559;
    align-items: center;
    top: 61px;
    left: 89px;
} */

.ideas {
    /* background-color: #ffa559; */
    position: absolute;
    width: 90px;
    height: 90px;
    top: 10%;
    left: 520px;
    background: url(icons8-idea-90.png);
    background-repeat: no-repeat;
    /* border-radius: 50px; */
    /* border: #ffa559; */
}

.idea-text {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    top: 140px;
    left: 100px;
}

.camp {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 10%;
    left: 150px;
    background-color: #f1f1f1;
    background: url(campaign.png);
}

.camp-text {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    top: 140px;
    left: 490px;
}

.report {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 10%;
    right: 130px;
    background-color: #f1f1f1;
    background: url(report.png);
}

.report-text {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    top: 140px;
    right: 105px;
}