.main-form {
    background-color: white;
    position: absolute;
    width: 1410px;
    height: 76vh;
    margin: 2%;
    /* left: 264px; */
    border-radius: 25px;
    padding: 2%;
    overflow: auto;
    filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.1));
}

.form-heading { 
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 18.8%;
    margin-top: 0%;
}

.prob-stat {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 18.9%;
    margin-top: 3%;
    /* background-color: #ffa559; */
    width: 850px;
}

#idea_title {
    position:absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    left: 21%;
    margin-top: 6.5%;
}

#idea_title_box {
    position: absolute;
    display: flex;
    left: 21%;
    margin-top: 8.7%;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    padding: 0.6%;
    width: 800px;
}

#idea_des {
    position:absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    left: 21%;
    margin-top: 12.7%;
}

#idea_des_box {
    position: absolute;
    display: flex;
    left: 21%;
    margin-top: 15%;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    padding: 0.6%;
    border: 2px solid black;
    width: 800px;
    resize: vertical;
    min-height: 90px;
}

#idea_how {
    position:absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    left: 21%;
    margin-top: 24%;
}

#idea_how_box {
    position: absolute;
    display: flex;
    left: 21%;
    margin-top: 26.5%;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    padding: 0.6%;
    border: 2px solid black;
    /* padding-top: 0%; */
    width: 800px;
    resize: vertical;
    min-height: 90px;
    /* height: 250px; */
    /* text-align:start;
    align-items: flex-start; */
    /* justify-content: flex-start; */
}

.idea-post-btn {
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: #6CB4EE;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0.7%;
    border: #6CB4EE;
    width: 150px;
    top: 550px;
    right: 300px;
    border-radius: 10px;
    justify-content: center;
}

.igoback-btn {
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: #6CB4EE;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0.7%;
    border: #6CB4EE;
    width: fit-content;
    top: 550px;
    right: 470px;
    border-radius: 10px;
    justify-content: center;
}