#camp_statement {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    left: 10%;
    /* top: 200px; */
    margin-top: 15%;
}

#camp_statement_box {
    position: absolute;
    display: flex;
    left: 10%;
    top: 49%;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    padding: 0.6%;
    width: 400px;
}

#camp_owner {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    left: 660px;
    /* top: 200px; */
    margin-top: 15%;
}

#camp_owner_box{
    position: absolute;
    display: flex;
    left: 660px;
    top: 49%;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    padding: 0.6%;
    width: 400px;
}

#camp_start {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 22%;
    left: 10%;
}

#camp_end {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 22%;
    left: 37.3%;
}

#camp_start_box{
    position: absolute;
    display: flex;
    left: 10%;
    top: 62.5%;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    padding: 0.6%;
    width: 280px;
}

#camp_end_box{
    position: absolute;
    display: flex;
    left: 37.3%;
    top: 62.5%;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    padding: 0.6%;
    width: 280px;
}

.inicamp-btn {
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: #6CB4EE;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0.7%;
    border: #6CB4EE;
    width: 150px;
    top: 400px;
    right: 78px;
    border-radius: 10px;
    justify-content: center;
}

#voting_end {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 22%;
    left: 64.5%;
}

#voting_end_box{
    position: absolute;
    display: flex;
    /* left: 55%; */
    right: 11%;
    top: 62.5%;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    padding: 0.6%;
    width: 280px;
}

#manage_end {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 29%;
    left: 10%;
}

#manage_end_box{
    position: absolute;
    display: flex;
    left: 10%;
    top: 76.5%;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    padding: 0.6%;
    width: 280px;
}